.App {
  text-align: center;
}

.FormDiv {
  border-radius: 25px;
  background: #D5D8DC;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 425px) {
  .System {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .Tablet {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .Mobile {
    visibility: visible;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: block;
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .System {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .Tablet {
    visibility: visible;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: block;
  }

  .Mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .System {
    visibility: visible;
    margin: 10px auto 5px 20px;
    display: block;
  }

  .Tablet {
    visibility: visible;
    margin: 10px auto 5px 20px;
    display: block;
  }

  .Mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}